/* 
    Document   : tablaEliminar
    Created on : 13/07/2014, 02:29:24 PM
    Author     : Camilo
    Description:
        Purpose of the stylesheet follows.
*/

/*root { 
    display: block;
}*/

table {
    border: 1px solid #008585;
    border-spacing: 0px;
    border-collapse: collapse;
}

th {
    background: #008585;
    font-family: Arial;
    font-size: 20pt;
    color: #FFFFFF;
}

td {
    border: 1px solid #008585;
    font-family: Arial;
    font-size: 18pt;
}

tr {
    background: #FFFFFF;
}

tr.par {
    background: #9BCFCF;
}

